
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>

<h2>Reviews</h2>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
       <strong><%= review.rating %> stars:</strong> <%= review.content %>
     </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet. Be the first to add one!</p>
<% end %>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %> |
<%= link_to "Back to restaurants", restaurants_path %>
